{% block cart_items %}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <td>Qty</td><td>Product</td><td>Price</td><td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for item in cart.items %}
        <tr>
            <td>{{ item.quantity }}</td><td>{{ item.name }}</td><td>{{ item.totalPrice }}</td><td><a class="btn" href="{{ path('vespolina_cart_remove_cartable', {'cartableId': item.cartableItem.id}) }}">Remove</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Your cart is empty.</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Grand Total</td><td>{{ cart.totalPrice }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block cart_actions %}
{% if not cart.isEmpty %}
    <a class="btn" href="{{ path('vespolina_store_cart_checkout') }}">
        Checkout
    </a>
{% endif %}
{% endblock %}

